<div class="search-bar">
  <input type="text"
         [(ngModel)]="searchTerm"
         (input)="searchItems()"
         placeholder="Search by title or author" />
</div>

<ul>
  <li *ngFor="let item of currentPageItems">
    <span *ngIf="item.url != null"><a [href]="item.url" target="_blank">{{ item.title }}</a> (by {{ item.by }})</span>
    <span *ngIf="item.url == null"><span class="nolink">{{ item.title }}</span> (by {{ item.by }})</span>
  </li>
</ul>

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

  <span>Page {{ currentPage }} of {{ totalPages }}</span>

  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>
